*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: #292929;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    top: 0;
    left: 0;
    margin: 0;
    padding: 3rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.33);
}

.nav-item {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.logo {
    position: absolute;
    margin: 0;
    padding: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.main {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.name {
    font-family: 'Babylonica';
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
}

.occu {
    font-family: 'Audiowide';
    color: rgb(255, 255, 255, 0.65);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
}

.img-group {
    position: absolute;
    right: 0;
    top: 0;
}

.img-back {
    z-index: -1;
    height: 100vh;
}

.img-front {
    position: absolute;
    height: 100vh;
    right: 0;
}

/* #main {
    position: absolute;
    width: 770px;
    height: 780px;
    left: 50%;
    top: -52px;
    filter: blur(3.54313px);
} */



/* 
#abt {
    position: absolute;
    max-width: 844px;
    text-align: center;
    top: 40%;
    left: 350px;
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 31.2406px;
    color: #FFFFFF;
}
#cateportf {
    position: absolute;
    left: 500px;
    top: 50%;
    font-family: 'Barriecito';
    font-style: normal;
    font-weight: 400;
    font-size: 50.8829px;
    color: #FFFFFF;
}
#home {
    position: absolute;

}
#portfUXD {
    position: absolute;
    width: 400px;
    height: 466px;
    left: 50px;
    top: 300px;
    border-radius: 22.781px;
}
#portfFD {
    position: absolute;
    width: 400px;
    height: 466px;
    left: 550px;
    top: 300px;
}
#portfCD {
    position: absolute;
    width: 400px;
    height: 466px;
    left: 1050px;
    top: 300px;
}

#rect25 {
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 670px;
    left: 898px;
    top: 40px;
    background: #292929;
    z-index: -100;
}

 */